@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Montserrat-Regular.ttf");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


html,
body {
  font-size: 100% !important;
  margin: 0;
  padding: 0;
  background-color: #f8f9fc;
  font-family: 'Montserrat-Regular', sans-serif;
  color: #333333;

}

a {
  color: inherit;
  text-decoration: none;
}



::selection {
  user-select: none;
  color: #93c5fd;

}

#root {
  width: 100vw;
  height: 100vh;
  /* max-width: 1500px; */
  margin: 0 auto;
}


canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* max-width: 1500px; */
  margin: 0 auto;
}

.canvas > div {
  z-index: 10000000;
}
.loading {
  padding: 10px;
  transform: translate3d(-50%, -50%, 0);
  color: #8b8b8b;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

/* .frame {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.5rem;
  z-index: 2;
}

.frame__title {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

.frame__links {
  margin: 1rem 0;
} */

/* .frame__link:not(:last-child) {
  margin-right: 1rem;
}

.frame__nav .frame__link:first-child {
  margin-right: 1.5rem;
} */

.bottom-left {
  padding: 1.5rem;
  transform: translate3d(0, -100%, 0) !important;
}

.canvas > div {
  z-index: 10000000;
}

#root > div > div {
  pointer-events: none;
}

/* @media screen and (min-width: 53em) {
  body {
    overflow: hidden;
  }
  .frame {
    display: grid;
    height: 100vh;
    padding: 2rem 3.7rem;
    pointer-events: none;
    align-content: space-between;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title links"
      "... ..."
      "... nav";
  }
  .frame__title {
    grid-area: title;
  }
  .frame__links {
    grid-area: links;
    justify-self: end;
    margin: 0;
  }
  .frame__link {
    pointer-events: auto;
  }
  .frame__nav {
    grid-area: nav;
    justify-self: end;
  }

} */

#portal {
  position: fixed;
  z-index: 10000000000;
  top: 0;
}


.text-[16px], .second_smallest {
  font-size: 16px !important;
}

.text-[14px], .smallest {
  font-size: 14px !important;
}
